name: integ

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  build:
    runs-on: macos-latest
    name: Java 17 MacOs

    steps:
      - uses: actions/checkout@v6
      - uses: gradle/wrapper-validation-action@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: 'zulu'

      - name: Install smithy cli
        run: |
          brew tap smithy-lang/tap
          brew update
          brew install smithy-lang/tap/smithy-cli
          brew upgrade smithy-lang/tap/smithy-cli
          echo "Smithy CLI version $(smithy --version) installed"

      - name: Execute integration tests
        run: make test-all
