name: integ

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: macos-latest
    name: Java 17 MacOs

    steps:
      - uses: actions/checkout@v3
      - uses: gradle/wrapper-validation-action@v1

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'zulu'
      - name: Install smithy cli
        run: |
          brew uninstall smithy-cli
          brew untap aws/tap
          brew tap smithy-lang/tap
          brew update
          brew install smithy-cli
          brew upgrade smithy-cli
          echo "Smithy CLI version $(smithy --version) installed"

      - name: Execute integration tests
        run: make test-all
        